body{
  margin: 0;
  padding: 0;
  background: rgb(213, 213, 213);
  background: #fff;
  padding-top: 80px;
  font-family: Arial;
}
header{
  height: 70px;
  background: rgb(25, 127, 174);
  text-align: right;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
header img{
  height: 100%;
  position: absolute;
  left: 10px;
  text-decoration: none;
  background: none;
}
header a{
  margin-right: 20px;
  text-decoration: none;
  color: aliceblue;
  transition: 0.2s;
  text-transform: capitalize;
}
header a:hover{
  background: whitesmoke;
  color: rgb(25, 127, 174);
  padding: 10px;
  padding-bottom: 33px;
  border-radius: 4px;
}
section{
  text-align: center;
  /* transform: translateY(10%); */
}
section img{
  width: 100px;
}
section p{
  text-transform: uppercase;
}
section table{
  margin: auto;
}
section button{
  padding: 10px 20px;
  border: none;
  background: rgb(52, 154, 201);
  border-radius: 4px;
  color: whitesmoke;
}
section button a{
  text-decoration: none;
  color: whitesmoke;
  text-transform: capitalize;
}
section marquee{
  margin-top: 10px;
  text-transform: uppercase;
}